[submodule "src/3rdparty/json/jfes"]
	path = src/3rdparty/json/jfes
	url = https://github.com/dmitrii-eremin/jfes
[submodule "src/3rdparty/json/jsmn"]
	path = src/3rdparty/json/jsmn
	url = https://github.com/zserge/jsmn
[submodule "src/3rdparty/regexp/slre"]
	path = src/3rdparty/regexp/slre
	url = https://github.com/cesanta/slre
[submodule "src/3rdparty/xprintf"]
	path = src/3rdparty/xprintf
	url = https://github.com/tmk/elm-chan_xprintf
