# Object files
*.o
*.ko
*.obj
*.elf
*o.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.xml

# Debug files
*.dSYM/

# Temporary files
*.tmp

# Folders
/.vscode
/build
/docs
/options
/tools
/vendor
/src/3rdparty/instr/asan/readme

# Files
ceedling.*
Doxygen.conf
project.yml
pvs-studio.bat
.clang-format
PVS-Studio.cfg
rakefile.rb
*.yml

/test/support/assert_test_helpers.h


