# Object files
*.o
*.ko
*.obj
*.elf
*o.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.xml

# Debug files
*.dSYM/

# Folders
/build
/vendor/
/tools/
/.vscode/
/options/
/linker/
*.yml


# Temporary files
*.tmp
.clang-format
ceedling.cmd
Doxygen.conf
pvs-studio.bat
PVS-Studio.cfg
rakefile.rb




